@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  body {
    margin: 0;
    min-height: 100%;
    @apply bg-gradient-to-br from-sky-50 via-white to-fuchsia-50 text-slate-900 antialiased;
  }

  #root {
    min-height: 100vh;
  }
}
